<section class="section section--pb0 section--gradient">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">Select Your Plan</h2>
            </div>
        </div>
        <div class="row">
            @*---------------Regular Start--------------*@
            <div class="col-12 col-md-6 col-xl-4 order-md-2 order-xl-1">
                <div class="plan">
                    <h3 class="plan__title">Regular</h3>
                    <ul class="plan__list">
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> FlixTV Originals</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Switch plans or cancel anytime</li>
                        <li class="red"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.596 1.59982L1.60938 17.5865" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M17.601 17.5961L1.60101 1.5928" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Stream 65+ top Live</li>
                        <li class="red"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.596 1.59982L1.60938 17.5865" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M17.601 17.5961L1.60101 1.5928" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> TV channels</li>
                    </ul>
                    <span class="plan__price">$11.99<span>/month</span></span>
                    <button class="plan__btn" type="button">Select plan</button>
                </div>
            </div>
            @*---------------Regular End--------------*@

            @*---------------Premium Start--------------*@
            <div class="col-12 col-xl-4 order-md-1 order-xl-2">
                <div class="plan plan--best">
                    <h3 class="plan__title">Premium</h3>
                    <ul class="plan__list">
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> FlixTV Originals</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Switch plans or cancel anytime</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Stream 65+ top Live</li>
                        <li class="red"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.596 1.59982L1.60938 17.5865" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M17.601 17.5961L1.60101 1.5928" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> TV channels</li>
                    </ul>
                    <span class="plan__price">$34.99<span>/month</span></span>
                    <button class="plan__btn" type="button">Select plan</button>
                </div>
            </div>
            @*---------------Regular End--------------*@         
        </div>
    </div>
</section>

