<section class="section section--pb0 section--gradient">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">Select Your Plan</h2>
            </div>
        </div>
        <div class="row">
            @*---------------Free Trial Start--------------*@
            <div class="col-12 col-md-6 col-xl-4 order-md-2 order-xl-1">
                <div class="plan">
                    <h3 class="plan__title">Free Trial(30 days)</h3>
                    <ul class="plan__list">
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> FlixTV Originals</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Switch plans or cancel anytime</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Unlimited Movies</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Exclusive Series</li>
                    </ul>
                    <span class="plan__price">$0.00<span>/month</span></span>
                    @if (Request.IsAuthenticated)
                    {

                        using (Html.BeginForm("UpgradeToFreeTrial", "Account", FormMethod.Post))
                        {
                            <button type="submit" class="plan__btn">Select plan</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Login", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="plan__btn">Select plan</button>
                        }
                    }
                </div>
            </div>
            @*---------------Free Trial End--------------*@

            @*---------------Premium Start--------------*@
            <div class="col-12 col-xl-4 order-md-1 order-xl-2">
                <div class="plan plan--best">
                    <h3 class="plan__title">Premium</h3>
                    <ul class="plan__list">
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> FlixTV Originals</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Switch plans or cancel anytime</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Unlimited Movies</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg> Exclusive Series</li>
                        <li class="green"><svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.43994 6.95981L6.77477 12.2924L17.4399 1.62723" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>Dive into binge-worthy moview & series available only on FlixTV</li>
                    </ul>
                    <span class="plan__price">$14.99<span>/month</span></span>
                    @if (Request.IsAuthenticated)
                    {

                        using (Html.BeginForm("UpgradeToPremium", "Account", FormMethod.Post))
                        {
                            <button type="submit" class="plan__btn">Select plan</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Login", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="plan__btn">Select plan</button>
                        }
                    }


                </div>
            </div>
            @*---------------Regular End--------------*@         
        </div>
    </div>
</section>




