<!-- catalog -->
<div class="catalog catalog--page catalog--list">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h1 id="noResults" style="color:white"></h1>
                <div class="row row--grid" id="categoryGrid">
                    <!---------Here renders the data--------->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="catalog__paginator-wrap">
                    <span id="pagesCatalog" class="catalog__pages">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>

                    <ul class="catalog__paginator">
                        <li>
                            @if (Model.PageNumber == 1)
                            {
                                <a href="#">
                                    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></svg>
                                </a>
                            }
                            else
                            {
                                <a href="https://localhost:44353/Movie/Category?Genre=@ViewBag.Genre&Year=@ViewBag.Year&MinRating=@ViewBag.MinRating&MaxRating=@ViewBag.MaxRating&SortingBy=@ViewBag.Sortingby&page=@(Model.PageNumber - 1)">
                                    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></svg>
                                </a>
                            }

                        </li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <li class="active"><a href="https://localhost:44353/Movie/Category?Genre=@ViewBag.Genre&Year=@ViewBag.Year&MinRating=@ViewBag.MinRating&MaxRating=@ViewBag.MaxRating&SortingBy=@ViewBag.Sortingby&page=@i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="https://localhost:44353/Movie/Category?Genre=@ViewBag.Genre&Year=@ViewBag.Year&MinRating=@ViewBag.MinRating&MaxRating=@ViewBag.MaxRating&SortingBy=@ViewBag.Sortingby&page=@i">@i</a></li>
                            }
                        }
                        <li>
                            @if (Model.PageNumber == Model.PageCount)
                            {
                                <a href="#">
                                    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></svg>
                                </a>
                            }
                            else
                            {
                                <a href="https://localhost:44353/Movie/Category?Genre=@ViewBag.Genre&Year=@ViewBag.Year&MinRating=@ViewBag.MinRating&MaxRating=@ViewBag.MaxRating&SortingBy=@ViewBag.Sortingby&page=@(Model.PageNumber + 1)">
                                    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></svg>
                                </a>
                            }
                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end catalog -->
