@using FlixTv.Models
@model IEnumerable<FlixTv.Models.MovieTest>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<script type="text/javascript">
    console.log("hiiiiiiiiiiiiiiiiii");

    var movies = @Html.Raw(Json.Encode(Model));
   
    
    console.log("movie is " + movies[1].Title);

</script>

